/*Css for heading h1*/
h1 {
    color: blue;
  }
  /*Css code for buttons*/
  .button_css {
    color: #494949 !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    border: 4px solod #494949 !important;
    display: inline-block;
    transition: all 0.4s ease 0s;
  }

  .button_css:hover {
    color: #ffffff !important;
    background-color: aqua;
    border-color: aqua !important;
    transition: all 0.4s ease 0s;
  }
  .img {
    height: 40px;
    border-radius: 34px;
  }

  /* This CSS hides the spinner for number inputs */
input[type="number"].no-spinner::-webkit-outer-spin-button,
input[type="number"].no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.form-element{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background: rgb(180, 58, 91);
    background: linear-gradient(135deg,#868F96,  #596164);
    border-radius: 40px;
    text-align: center;
    width: 400px;
    height: 40%;
    

            
}        
body{
    background: rgb(2,0,36);
    width: 100%;
    height: auto;
    background: linear-gradient( #D8B5FF,  #1EAE98);
     
}

